@charset "utf-8";

/* ベース
---------------------------------*/
body{
    font-family:Arial, Helvetica, sans-serif;
    line-height: 1.7;
    color: #888888;
    letter-spacing: 0;
    background-color: #fff;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: bottom;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

p {
    font-size: 14px;
}

/* レイアウト
---------------------------------*/
.l-inner{
    width: 80%;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.l-py6{
    padding: 60px 0;
}

.l-mb3{
    margin-bottom: 30px;
}

.l-mb6{
    margin-bottom: 60px;
}

.l-mt3{
    margin-top: 30px;
}

/*flexbox*/
.l-flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.l-align-stretch {
    align-items: stretch;
}

.l-col2{
    width: 47.5%;
}

.l-col3{
    width: 30%;
}

/*color*/
.l-bg-gray{
    background-color: #F6F6F6;
}

/*text*/
.l-text-center{
    text-align: center;
}

/* header
---------------------------------*/
h1 img{
    display: block;
    margin: 30px auto 0;
}


/* module
---------------------------------*/
.section-title{
    border-left: 10px solid #FA6980;
    padding-left: 10px;
    color: #202124;
}

/*unit*/
.unit-catch{
    font-size: 12px;
    font-style:oblique;
    color:#FA6980;
    margin-bottom: 10px;
}

.unit-title{
    color: #202124;
    font-size: 18px;
    font-weight:bold;
    margin-bottom: 15px;
}

.time{
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.time img{
    margin-right: 10px;
}

/* footer
---------------------------------*/
footer{
    background-color: #202124;
    padding: 100px 0 40px;
    color: #BBBBBB;
}

/* card
---------------------------------*/
.card{
    background-color: #fff;
}

.cardinner{
    padding: 35px;
}

.card-title{
    color: #202124;
    font-size: 18px;
    font-weight:bold;
    margin-bottom: 15px;
}

/* button
---------------------------------*/
.btn{
    display: block;
    font-size: 12px;
    width: 51.6%;
    background-color:#FA6980;
    color: #fff;
    padding: 14px 43px;
    text-align: center;
    margin: 25px 0 auto auto;
}
